
.layout-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  height: 100vh;
}

// Mapbox


.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  // font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 250px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: rgb(61, 59, 59);
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  margin-top: -5px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px 3px 10px 10px;
  font-weight: 400;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 3px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: rgb(61, 59, 59);
}
.mapboxgl-marker {
  cursor: pointer;
}